.header {
  background-image: url('/images/fruits-bg.svg') !important;
  position: relative;
  top:50px;
  height: 100px;
  margin: 0 !important;
  padding: 0 !important;
  color: red;
  font-size: 12px;
}
.header span{
  background-color: white; 
}

@media (min-width: 576px) {
  .header {
    font-size: calc(10px + 14 * (100vw - 320px) / 800);
  }
}
